#notification{
    border:3px solid black;
    /* display:none; */
    /* display:flex; */
    justify-content: center;
    width:50vw;
    z-index:1;
}

#add-questions{
    padding-top: 3vw;
    min-height:600px;
}

.show{
    display:flex;
}

.hidden{
    display:none;
}