<div *ngIf='notAuthenticated; else authenticated'>You dont have permission to see this page</div>
<ng-template #authenticated>
<div id="dashboard" class='component loggedBackground' >
  <h3>Welcome <span>{{username}}</span>, ready for some questions?</h3>

  <div>
    <div id="question" *ngIf="hideIt; else elseBlock">
      {{ question }}
    </div>
    <ng-template #elseBlock>
      <div id="elseBlock">No more questions</div>
    </ng-template>
    <button
      class="btnQuestion"
      (click)="click()"
      [ngClass]="{ hidden: this.questionsArray.length == 0 }"
    >
      Yes
    </button>
    <button
      class="btnQuestion"
      (click)="click()"
      [ngClass]="{ hidden: this.questionsArray.length == 0 }"
    >
      No
    </button>
  </div>
  
  <button id="btnAdd" (click)='clAddQuestion()'title='Give us a new topic'>+</button>
  <div id='infoDash'>ℹ️ See the button floating in the middle?</div>
</div>
</ng-template>

