*{
    margin:0 auto;
    box-sizing:border-box;
}

#dashboard{
  /* height:800px; */
  background-image: radial-gradient(circle at center, white 0, yellow, lightblue 20%);
    background-position-x: 50vw;
    background-position-y: 50vh;
    min-height:600px;
    width:96vw;
    padding-top: 3vw;
}

h3 {
  text-align: center;
  width: 63vw;
  line-break: strict;
  text-decoration: underline;
}

.nav div{
  display: inline-block;
  margin: 3px;
  border: 1px solid black;
  text-align: center;
  width: auto;
  text-align:center;
}

.nav div:hover{
  visibility:auto;
  cursor: pointer;
  background:red;
}

.navHidden{
  visibility: hidden;
}





button{
    width:60px;
}

button#logout{
    width:auto;
}

button#btnAdd{
  border-radius:50%;
  position: fixed;
  top:calc(100vh - 10vw);
  right:0;
  height:50px;
  width:50px;
}

#question{
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
  font-size: 1.8em;
  font-weight: bolder;
}

#question::before{
  content:'Do you like\00a0';
}

#question::after{
  content:'?'
}

#elseBlock{
  text-align:center;
}

.btnQuestion{
    display:flex;
    height:50vw;
    width:50vw;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    font-weight: bold;
    margin-bottom:4vw;
    box-shadow: 3px 3px black;
    border: 5px solid yellow;
}

.btnQuestion:nth-of-type(1){
  background:green;
}

.btnQuestion:nth-of-type(2){
  background:red;
}

.nav button{
  display:inline-block;
}
#logout {
  float: right;
  position: fixed;
  top: 0;
  right: 0;
  margin: 5px;
  line-break:auto;
}

.hidden{
  visibility: hidden;
}

@media screen and (min-width:426px){
  .btnQuestion{
    width:20vw;
    display:inline-block;
    height:20vw;
    margin:10vw;
  }
}