*{
    margin:0 auto;
    box-sizing:border-box;
}

#dashboard{
  height:800px
}

.nav {
  border: 1px solid black;
  width: calc(100vw - 33vw);
  display: inline-block;
}
h1 {
  text-align: center;
  width: 50vw;
  line-break: strict;
}

.nav div {
  display: inline-block;
  margin: 3px;
  border: 1px solid black;
  text-align: center;
  width: auto;
}

.nav div:hover{
  background-color: red;
  cursor:pointer;
}

.search {
  float: right;
  width: calc(100vw - 73vw);
}

.search input{
    width: 20vw;
}

button{
    width:60px;
}

button#logout{
    width:auto;
}

button#btnAdd{
  border-radius:50%;
  position: fixed;
  top:calc(100vh - 10vw);
  right:0;
  height:50px;
  width:50px;
}

#question{
    display:flex;
    justify-content: center;
    align-items: center;
}

#question::before{
  content:'Do you like\00a0';
}

#question::after{
  content:'?'
}

#elseBlock{
  text-align:center;
}

.btnQuestion{
    display:inline-block;
    
}


#logout {
  float: right;
  position: fixed;
  top: 0;
  right: 0;
  margin: 5px;
  line-break:auto;
}

.hidden{
  visibility: hidden;
}
