<div *ngIf='notAuthenticated; else authenticated'>You dont have permission to see this page</div>
<ng-template #authenticated>
<div id="dashboard" >
  <div class="nav">
    <div>Your likes</div>
    <ul style='display:none;'>
      <li>lorem</li>
      <li>ipsum</li>
    </ul>
    <div (click)='clFrList()'>Your friends</div>
    <div (click)='clUserList()'>List of users</div>
  </div>
  <div class="search">
    <input type="text" placeholder="What are you searching?" />
    <button (click)="clSearch()">Search</button>
  </div>

  <h3>Welcome <span>{{username}}</span>, ready for some questions?</h3>

  <div>
    <div id="question" *ngIf="hideIt; else elseBlock">
      {{ question }}
    </div>
    <ng-template #elseBlock>
      <div id="elseBlock">No more questions</div>
    </ng-template>
    <button
      class="btnQuestion"
      (click)="click()"
      [ngClass]="{ hidden: this.questionsArray.length == 0 }"
    >
      Yes
    </button>
    <button
      class="btnQuestion"
      (click)="click()"
      [ngClass]="{ hidden: this.questionsArray.length == 0 }"
    >
      No
    </button>
  </div>

  <button id="logout" (click)="logout()">Log out</button>
  <button id="btnAdd" (click)='clAddQuestion()'>+</button>
</div>
</ng-template>