*{
    text-align: center;
}



#navMenu, #loginMenu{
    width:96vw;
    margin:0 auto;
}
.visible{
    display: inline-block;
}

.hidden{
    display: none;
}

form label{
    text-decoration: underline;
}
form button{
    width:90vw;
    font-size: 1.4em;
    text-transform: uppercase;
    font-weight: bold;
}
input{
    margin-bottom:3vw;
    display:flex;
    justify-content: center;
}

#navComp{
    border-bottom:5px solid black;
    padding-bottom: 3vw;
    width:96vw;
}

#navMenu button{
    display:inline-block;
    justify-content: center;
}

#logout{
    margin-left:5vw;
    margin-top:5vw;

}

@media screen and (min-width:426px){
    #navComp{
        padding-bottom: 10px;
    }
    #loginMenu *{
        display:inline;
        width:24vw;
    }

    form button{
        width:200px;
        height:30px;
        font-size: 0.8em;
        margin-left:2vw;
    }

    #navMenu *{
        display:inline;
        width: 17vw;
    margin-left: 4px;
    font-size: 63%;
    height: 40px;
    }

    #navMenu{
        width:96vw;
    }

    button{
        font-size:0.8em;
    }
}
