*{
    display:block;
}

#message{
    background-image: radial-gradient(circle at center, white 0, yellow, lightblue 20%);
    background-position-x: 50vw;
    background-position-y: 50vh;
    padding-top: 3vw;
}

label{
    text-align: center;
}

.show{
    display:flex;
}

.hidden{
    display:none;
}