<form>
    <label>Username</label>
    <input id='currentUser'type="text" [(ngModel)]='currentUser' [ngModelOptions]="{standalone: true}" required placeholder='guest' autofocus>
    <label>Password</label>
    <input type="password" [(ngModel)]='userPassword' [ngModelOptions]="{standalone: true}" required placeholder='guest'>
    <!-- <button type="submit" (submit)='login()'>Log in</button> Submit button-->
    <button type="submit" (click)='login()'>Log in</button>
    <a>Don't you have an account?</a>
    <button type="button" (click)='signup()'>Sign up now</button>
  </form>

  <div>Dont you want to sign in?</div>
  <p>Try username: <code>guest</code> and password: <code>guest</code></p>

