* {
    display: block;
    justify-content: center;
    margin: 5px auto;
    box-sizing: border-box;
    text-align: center;
  }
  
  form {
    border: 1px solid black;
    width: 50vw;
  }
  
  button {
    width: 70%;
    height: auto;
    text-transform: uppercase;
  }

  input{
    width:80%;
  }

  a{
      margin-top:15px;
  }

  code{
    display: inline-block;
    font-weight: 900;
  }