<div id='home' class='component'>
  <button (click)='showSignUp()' [ngClass]="isSignActive ? 'hidden' : 'visible'">Sign up now</button>
  <div id='signup' [ngClass]="isSignActive ? 'visible' : 'hidden'">
    <form>
        <label>Username</label>
        <input type="text" autofocus>
        <label>Email</label>
        <input type="email">
        <label>Password</label>
        <input id="password" type="password">
        <label>Confirm Password</label>
        <input type="password">
        <!-- <button id="cpassword" type="submit" (submit)='signup()'>Sign in</button>     <!-Submit button -->
        <button id="cpassword" type="submit" (click)='signup()'>Sign in</button><!-- Mientras no autentico -->
        <!-- <button (click)="clDash()">Go to Dashboard</button> -->
    </form>
    </div>

  <div id='noSignup' [ngClass]="isSignActive ? 'hidden' : 'visible'">
  <div style='text-decoration: underline;'>Dont you want to sign in?</div>
  <p>username: <code>guest</code></p><p> password: <code>guest</code></p>
</div>

  <div id=carrousel></div>

  <div id='carrousel-description' class='hidden'>
    <img id='picOne' src='../../../assets/images/home/carrousel1.jpeg' alt="" srcset="">
    <p style='margin-right: 10vw;'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi quidem ratione recusandae repellendus blanditiis earum laborum culpa molestiae in aliquam.</p>
    <br/>
    <img id='picTwo' src='../../../assets/images/home/carrousel2.jpeg' alt="" srcset="">
    <p style='margin-left: 10vw;'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, ipsum assumenda. Provident, architecto nisi illum asperiores hic inventore minus! Eligendi?</p>
    <br/>
    <img id='picThree'  src='../../../assets/images/home/carrousel3.jpeg' alt="" srcset="">
    <p style='margin-right: 10vw;'>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium quo voluptatem exercitationem impedit, porro fugit quia labore dolorem nam odio.</p>
  </div>
</div>


