<div class='component'>
<table>
  <tr>
    <td>No</td>
    <td>Username</td>
    <td title='It calculates the number of paired likes divided by the number of user total likes'>Percent similar</td>
  </tr>
  <tr *ngFor="let u of userList; let i = index">
    <td>
      <div
        *ngIf="u.username !== username && username !== '**' && userList[idUser].friends.includes(u.username)"
        style="border: 1px solid black"
      >
        {{ i + 1 }}
      </div>
    </td>
    <td>
      <div
        *ngIf="u.username !== username && username !== '**' && userList[idUser].friends.includes(u.username)"
        style="border: 1px solid black"
      >
        {{ u.username }}
      </div>
    </td>
    <td>
      <div
        *ngIf="u.username !== username && username !== '**' && userList[idUser].friends.includes(u.username)"
        style="border: 1px solid black"
    >
        {{  (userList[idUser].likes.concat(u.likes).length - duplicate(u.likes)) / userList[idUser].likes.length | percent
        }}
      </div>
    </td>
  </tr>
</table>

<a (click)="clDash()">Go back to dashboard</a>

</div>
