h1{
    text-align: center;
}

*{
    font-size:1.5em;
}

#footer{
    background-color:black;
    color:white;
    font-weight: bold;
    text-align:center;
    font-size:2rem;
    float:left;
    width:100vw;
  }