* {
  display: block;
  justify-content: center;
  margin: 5px auto;
  box-sizing: border-box;
  text-align: center;
}

form {
  border: 1px solid black;
  width: 50vw;
}

#signup{
  background-image: url("../../../assets/images/signup/background.webp");
  background-size: fixed;
  background-repeat:repeat;
  width:100vw;
  height: 110vh;
  min-height:400px;
  min-height: 400px;
}

button {
  width: 25vw;
  height: 30px;
  text-transform: uppercase;
}
