<form>
    <label>Username</label>
    <input type="text" required autofocus>
    <label>Email</label>
    <input type="email" required>
    <label>Password</label>
    <input id="password" type="password"required>
    <label>Confirm Password</label>
    <input type="password" required>
    <!-- <button id="cpassword" type="submit" (submit)='signup()'>Sign in</button>     <!-Submit button -->
    <button id="cpassword" type="submit" (click)='signup()'>Sign in</button><!--Mientras no autentico-->
</form>
