td{
    border:1px solid black;
}

#userlist{
    padding-top: 3vw;
}
table{
    width:80vw;
}

div div{
    display:inline-block;
}

td{
    background-color: rgb(209, 101, 101);
}

button{
    margin-left: auto;
    margin-right:auto;
}

@media screen and (min-width:769px){
    td{
        width:20vw;
    }
    table{
        width:45vw;
    }
}