<div id='userlist' class="component loggedBackground">
  <table>
    <tr>
      <td>No</td>
      <td>Username</td>
      <td>Options</td>
    </tr>
    <tr *ngFor="let u of userList; let i = index">
        <td>
      <div
        *ngIf="
          username !== '**'
        "
      >
        {{ i + 1 }}
    </div>
</td>
      <td>
      <div
        *ngIf="
          username !== '**'
        "
      >
        {{ u.username }}
    </div>
</td>
      <td>
        <span
          *ngIf="
            u.username !== username &&
            !userList[idUser].friends.includes(u.username) &&
            username !== '**'
          "
        >
          <button (click)="clAddFriend($event)">➕</button>
      </span>

        <span *ngIf="
        u.username !== username
         && username !== '**'
      ">
          <span (click)="write(i)">✉️</span>
    </span>
      </td>
    </tr>
  </table>
</div>
