<div id='userlist' class="component">
  <table>
    <tr>
      <td>No</td>
      <td>Username</td>
      <td>Not your friend yet?</td>
      <td>Options</td>
    </tr>
    <tr *ngFor="let u of userList; let i = index">
        <td>
      <div
        *ngIf="
          username !== '**'
        "
      >
        {{ i + 1 }}
    </div>
</td>
      <td>
      <div
        *ngIf="
          username !== '**'
        "
      >
        {{ u.username }}
    </div>
</td>
      <td>
        <div
          *ngIf="
            u.username !== username &&
            !userList[idUser].friends.includes(u.username) &&
            username !== '**'
          "
        >
          <button (click)="clAddFriend($event)">Add friend</button>
        </div>
      </td>
      <td>
        <div *ngIf="
        u.username !== username
         && username !== '**'
      ">
          <div (click)="write(i)">✉️</div>
        </div>
        <span *ngIf="
        u.username !== username &&
        !userList[idUser].friends.includes(u.username) && username !== '**'
      ">
          <span (click)="clAddFriend($event)">➕</span>
      </span>
      </td>
    </tr>
  </table>
</div>
