tr:nth-of-type(2n+1){
    background-color:rgb(92, 190, 92);
}
tr:nth-of-type(1){
    background-color:rgb(214, 117, 133);
}
tr:nth-of-type(2n){
    background-color:rgb(102, 102, 173);
}
table{
    width:80vw;
    height:auto;
}

@media screen and (min-width:769px){
    table{
        width:40vw;
    height:auto;}
}