<div id='visitProfile'>
<table>
  <tr style='border:3px solid black;'>
    <td style='font-weight: bold;'>Friends</td>
  </tr>
  <tr *ngFor="let u of userList; let i = index">
    <td>
    <div
        *ngIf="u.username !== visitedUser && visitedUser !== '**' && userList[idVisited].friends.includes(u.username)"
      >
        {{ u.username }}
  </div></td>
</tr>
</table>
<table>
  <tr style='border:3px solid black;'>
    <td style='font-weight: bold;'>Topic</td>
  </tr>
  <tr *ngFor="let u of userList; let i = index">
  <td
        *ngIf='i<userList[idVisited].likes.length'
      >
        {{ userList[idVisited].likes[i] }}
</td>
</tr>
</table>
</div>